<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .ad_trek{
            height: 50px;
            width: 100%;
            background-color: rgb(86, 201, 201);
            border: 2px solid black;
        }
        .trek-buton{
            background-color: green;
            margin-top: 140px;
            margin-left: 200px;
            
        }
    </style>
</head>
<body>
    <div class="ad-trek">
        hi
        <button class="trek-buton">+ Add Your Treak</button>
    </div>
</body>
</html>