{% extends "base.html" %}
{% block content %}

<style>
    body{
        background:#a3a5ad;
        font-family:Arial;
    }
    .contaner{
        padding:30px;
    }
    .head{
        margin-bottom:25px;
    }
    .head h1{
        color:#040a0a;
    }
    table{
        width:100%;
        border-collapse:collapse;
        background:rgb(91, 132, 154);
        border-radius:10px;
        overflow:hidden;
    }
    thead{
        background:#0d5253;
        color:white;
    }
    th,td{
        padding:15px;
        text-align:left;
    }
    tr{
        border-bottom:1px solid #118484;
    }
    .status-upcoming{
        color:rgb(176, 130, 46);
        font-weight:bold;
    }
    .status-ongoing{
        color:rgb(16, 125, 16);
        font-weight:bold;
    }
</style>
<div class="contaner">
    <div class="head">
        <h1>Current Assigned Treks</h1></div>
    <table>
        <thead>
            <tr>
                <th>Trek Name</th>
                <th>Location</th>
                <th>Participants</th>
                <th>Slots Left</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% if tracks %}
            {% for trek in tracks %}
            <tr>
                <td>{{ trek.rout_name }}</td>
                <td>{{ trek.destination }}</td>
                <td>{{ trek.bookings|length }}</td>
                <td>{{ trek.remening_spots }}</td>
                <td>{{ trek.strt_trck_date.strftime('%d %b %Y') }}</td>
                <td>{{ trek.end_trck_date.strftime('%d %b %Y') }}</td>
                <td>
                    {% if trek.track_status == "Upcoming" %}
                        <span class="status-upcoming">Upcoming</span>
                    {% else %}
                        <span class="status-ongoing">Ongoing</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7" style="text-align:center;">
                    You haven't assigned any track yet!
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}

