{% extends "base.html" %}
{% block content %}

    <style>
        .fist-box{
            margin-top: 40px;
        }
        body{
            margin: 0;
            padding: 0;
            background-image: url("/static/image(4).jpg");
            background-size: cover;      
            background-position: center;
        }
        .fist-box{
            min-height:81vh;
            display:flex;
            justify-content:center;
            align-items:flex-start;
            margin: 0;
            padding: 0;
        }
        .log-form-box {
            width: 400px;
            height: 320px;
            border: 2px solid rgb(9, 63, 71);
            border-radius: 20px;
            margin: 20px auto;
            padding: 15px;
            background-color: rgb(117, 165, 173);
        }

        .log {
            text-align: center;
            text-decoration: double;
            margin-bottom: 25px;
            margin-top: 5px;
        }

        .fom-iner-content{
            margin-bottom: 5px;
        }

        .fom-iner-content label {
            font-size: 15px;
            display: block;
            text-align: left;
            margin-top: 10px;
        }

        .fom-iner-content input {
            width: 350px;
            padding: 10px;
            border: 2px solid black;
            border-radius: 5px;
            background-color: #c9dcd1;
            font-size: 13px;
        }
    
        .log-butn {
            width: 90%;
            padding: 10px;
            margin-top: 25px;
            background-color: #2c3e50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .reg-butn {
            margin-top: 22px;
            text-align: center;
            font-size: 15px;
        }
    </style>

    <div class="fist-box">
        <div class="log-form-box">
            <h2 class="log">Login Form</h2>
            <form method="post">
                <!--filling form when login-->
                <div class="fom-iner-content">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" placeholder="Enter your email id"  required>
                </div>
                <div class="fom-iner-content">
                    <label for="password">Enter Password</label>
                    <input type="password" name="password" placeholder="Enter your password"  required>
                </div>
                <button type="submit" class="log-butn">Sign In</button>
            </form>
            <div class="reg-butn">
                <span>Do not have an account? Click </span>
                <a href="{{ ('register') }}">Register</a>
                <p>Our website need verification before enter</p>
            </div>
        </div>
    </div>



{% endblock %}