{% extends "base.html" %}
{% block content %}

<style>

    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family:Arial, sans-serif;
    }

    body{
        background:#f4f4f4;
        margin: 0;
    }

    .container{
        width:95%;
        margin:40px auto;
        padding: 20px 0;
    }

    h1{
        margin-bottom:25px;
        color:#222;
    }

    table{
        width:100%;
        border-collapse:collapse;
        background:rgb(91, 132, 154);
        box-shadow:0 0 10px rgba(0,0,0,0.08);
    }

    th{
        background:#12385b;
        color:rgb(228, 218, 218);
        padding:14px;
        font-size:15px;
    }

    td{
        padding:14px;
        border-bottom:1px solid #ddd;
        text-align:center;
        font-size:14px;
    }

    tr:hover{
        background:#486d71;
    }

    .open{
        color:rgb(53, 181, 53);
        font-weight:bold;
    }

    .close{
        color:rgb(199, 55, 55);
        font-weight:bold;
    }

    .upcoming{
        color:#0d275f;
        font-weight:bold;
    }

    .ongoing{
        color:rgb(162, 120, 41);
        font-weight:bold;
    }

    .completed{
        color:rgb(63, 119, 63);
        font-weight:bold;
    }

    .btn-box{
        margin-bottom:20px;
    }

    .btn{
        display:inline-block;
        padding:12px 20px;
        background:#06445a;
        color:white;
        text-decoration:none;
        border-radius:6px;
    }

</style>
<div class="container">
    <div class="btn-box">
        <a href="{{ url_for('admin_dashboard') }}"
           class="btn">
            back to admin dashbord
        </a>
    </div>
    <h1>All Tracking Routes</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Trek Nme</th>
            <th>Destination</th>
            <th>Staff Id</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Days</th>
            <th>Capacity</th>
            <th>Remaining Spots</th>
            <th>Price</th>
            <th>Difficulty</th>
            <th>Distance</th>
            <th>Altitude</th>
            <th>Track Status</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
        <tr>
            <td>{{ track.adv_rout_id }}</td>
            <td>{{ track.rout_name }}</td>
            <td>{{ track.destination }}</td>
            <td>{{ track.staf_fr_this_rout }}</td> 
            <td>{{ track.strt_trck_date }}</td>
            <td>{{ track.end_trck_date }}</td>
            <td>{{ track.total_days_are }}</td>
            <td>{{ track.capcity }}</td>
            <td>{{ track.remening_spots }}</td>
            <td>Rs {{ track.rout_price }}</td>
            <td>{{ track.difficulty_level }}</td>
            <td>{{ track.distnce }} KM</td>
            <td>{{ track.max_altitdu }} m</td>
            <td>
                {% if track.track_status == "Upcoming" %}
                    <span class="upcoming">Upcoming</span>
                    </span>
                {% elif track.track_status == "Ongoing" %}
                    <span class="ongoing">Ongoing</span>
                {% else %}
                    <span class="completed">Completed</span>
                {% endif %}
            </td>
            <td>
                {% if track.status_open_close == "Open" %}
                    <span class="open">Open</span>
                {% else %}
                    <span class="close">Close</span>
                    </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}



