{% extends "base.html" %}

{% block content %}
<h1>Manage Staff</h1>
{% for staf in staff %}
<div>
    <h3>{{ staf.staf_nam }}</h3>
    <p>Staff ID : {{ staf.staf_ref_id }}</p>
    <p>Name : {{ staf.staf_nam }}</p>
    <p>Gender : {{ staf.gender }}</p>
    <p>Emergency Contact : {{ staf.emerg_contat_no }}</p>
    <p>User Ref ID : {{ staf.usr_ref_id }}</p>
    <p>Skill Area : {{ staf.skiil_area }}</p>
    <p>Date of Birth : {{ staf.staf_dte_of_bith }}</p>
    <p>Phone Number : {{ staf.phon_no }}</p>
    <p>Years of Work : {{ staf.yers_of_work }}</p>
    <p>Languages Known : {{ staf.langugs_known }}</p>
    <p>Availability : {{ staf.availability_status }}</p>
    <p>Permanent Address : {{ staf.perment_adress }}</p>
    <p>Verified : {{ staf.verifed }}</p>
    <p>Date Joined : {{ staf.date_joined }}</p>
    <a href="/blacklist/{{ staf.staf_ref_id }}">Blacklist</a>
    <a href="/approve_staff/{{ staf.staf_ref_id }}">Approve</a>

</div>

<hr>

{% endfor %}

{% endblock %}