{% extends "base.html" %}
{% block content %}

<style>
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family:Arial, sans-serif;
    }
    body{
        background:#bdb2b2;
    }
    .main-content{
        display:flex;
        min-height:100vh;
    }
    /*side bar of table */
    .side-bar{
        width:240px;
        background:rgb(91,132,154);
        border-right:1px solid #070404;
        padding:20px;
        margin: 10px 10px;
    }
    .side-bar h2{
        font-size:22px;
        font-weight:bold;
        margin-bottom:30px;
        color:#111827;
    }
    .side-bar-links{
        display:flex;
        flex-direction:column;
        gap:10px;
    }
    .side-bar-links a{
        text-decoration:none;
        padding:14px;
        border-radius:10px;
        color:#0a0c0c;
        font-size:16px;
        font-weight:600;
        transition:.3s;
    }
    .side-bar-links a:hover{
        background:#12385b;
        color:white;
    }
    .active-link{
        background:#12385b;
        color:white !important;
    }
    /*main content start*/

    .heading{
        flex:1;
        padding:30px;
        margin: 10px 10px;
    }
    .top-bar{
        background:rgb(91,132,154);
        padding:18px 25px;
        border-radius:12px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin-bottom:25px;
        border:1px solid #0c616e;
    }
    .top-bar h1{
        font-size:24px;
        color:#111827;
    }
    .user-name{
        font-weight:bold;
        font-size:16px;
    }
    .track-box{
        background:rgb(91,132,154);
        padding:25px;
        border-radius:10px;
    }
    .track-box h2{
        margin-bottom:20px;
    }
    table{
        width:100%;
        border-collapse:collapse;
    }

    table thead{
        background:#28627b;
        color:white;
    }
    table th{
        padding:15px;
        border:1px solid #d4cfcf;
        text-align:center;
    }
    table td{
        padding:15px;
        border:1px solid #ddd;
        text-align:center;
    }
    .open{
        color:green;
        font-weight:bold;
    }
    .upcoming{
        color:orange;
        font-weight:bold;
    }
    .ongoing{
        color:green;
        font-weight:bold;
    }
    .complet{
        color:red;
        font-weight:bold;
    }
    .no-data{
        text-align:center;
        font-size:18px;
        padding:20px;
    }
</style>
<div class="main-content">
    <!-- Side bar -->
    <div class="side-bar">
        <h2>Adventure User</h2>
        <div class="side-bar-links">
            <a href="{{ url_for('user_dashboard') }}"class="active-link">Dashboard</a>
            <a href="{{ url_for('my_profile') }}">My profile</a>
            <a href="{{ url_for('user_booking_table') }}">My Bookings</a>
            <a href="{{ url_for('all_tracks') }}">All treks</a>
            <a href="{{ url_for('user_current_tracks') }}">Current Tracks</a>
            <a href="{{ url_for('user_trek_history') }}">My Trek History</a>
            <a href="{{ url_for('logout') }}">Logout</a>        
        </div>
    </div>
    <!--main content-->
    <div class="heading">
        <div class="top-bar">
            <h1>Trekking Management Application</h1>
            <div class="user-name">{{ user.usrname }}</div>
        </div>
        <div class="track-box">
            <h2>Current Tracks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Trek Name</th>
                        <th>Location</th>
                        <th>Difficulty</th>
                        <th>Staff Name</th>
                        <th>Total Days</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Booking Status</th>
                        <th>Trek Status</th>
                    </tr>
                </thead>
                <tbody>
                {% if current_tracks %}
                    {% for trek in current_tracks %}
                    <tr>
                        <td>{{ trek.rout_name }}</td>
                        <td>{{ trek.destination }}</td>
                        <td>{{ trek.difficulty_level }}</td>
                        <td>
                            {% if trek.staff %}
                                {{ trek.staff.usrname }}
                            {% else %}
                                Not Assigned
                            {% endif %}
                        </td>
                        <td>{{ trek.total_days_are }} Days</td>
                        <td>{{ trek.strt_trck_date.strftime('%d %b %Y') }}</td>
                        <td>{{ trek.end_trck_date.strftime('%d %b %Y') }}</td>
                        <td>
                            <span class="open">{{ trek.status_open_close }}</span>
                        </td>
                        <td>
                            {% if trek.track_status=="Upcoming" %}
                                <span class="upcoming">Upcoming</span>
                            {% elif trek.track_status=="Ongoing" %}
                                <span class="ongoing">Ongoing</span>
                            {% else %}
                                <span class="complet">Completed</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9" class="no-data">Currently no trek are available</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}